.hello-background{
    background-color: white;
}

.hello {
    padding: 2.5rem;
}

.hello-image > img{
    border-radius: 75%;
}

.hello>*{
    line-height: 2;
    text-align: center;
    width: 45%;
    margin: 0 auto;
}

input {
    line-height: 2;
}

input{
    margin: 1rem 0;
}

@media(max-width: 1000px){
    .hello>*{
        width: 100%;
    }

}