@font-face {
    font-family: hops-and-barley;
    src: url(../../../../public/fonts/Fontspring-DEMO-hops_and_barley_c3b.otf);
}

@font-face {
    font-family: futura-light;
    src: url(../../../../public/fonts/Futura\ Std\ Light.ttf);
}

@font-face {
    font-family: jilican-heavy;
    src: url(../../../../public/fonts/Jillican\ Heavy.ttf);
}

div.header {
    background-color: #00a4e7;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.introduction{
    padding: 2.5rem;
}

div.introduction>*{
    line-height: 2;
    text-align: center;
    width: 99%;
    margin: 0 auto;
}


p.occupation{
    font-family: jilican-heavy;
    border-top: 2px solid #90e3fb;
    text-align: center;
    width: 105%;
    color: #7deeff;
}

p.i-am{
    font-family: futura-light;
    color: #78a5bd;
    background-color: white;
    height: max-content;
    width: 15%;
    font-weight: 900;
    border-radius: 50%;
}

h1{
    font-family: hops-and-barley;
    color: white;
}
