.experence{
    width: inherit;
    background-color: white;
    grid-row: 1;
}

.experience>*{
    line-height: 2.5;
}

.experience-position{
    display: flex;
    justify-content: space-between;
}

span{
    color: black;
}