@font-face {
    font-family: hops-and-barley;
    src: url(../fonts/Fontspring-DEMO-hops_and_barley_c3b.otf);
}

@font-face {
    font-family: futura-light;
    src: url(../fonts/Futura\ Std\ Light.ttf);
}

@font-face {
    font-family: jilican-heavy;
    src: url(../fonts/Jillican\ Heavy.ttf);
}

div.header {
    background-color: #00a4e7;
    height: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.introduction{
    padding: 2.5rem;
}

div.introduction>*{
    text-align: center;
}

p.occupation{
    font-family: futura-light;
}

p.i-am{
    font-family: futura-light;
}

h1{
    font-family: hops-and-barley;
}
