@font-face {
    font-family: quantify-bold;
    src: url(../fonts/Quantify\ Bold\ v2.6.ttf);
}

.hello-background{
    background-color: white;
}

.hello {
    padding: 2.5rem;
}

img{
    border-radius: 75%;
}

h2.hello-greeting{
    font-family: quantify-bold;
}

.hello>*{
    line-height: 2;
    text-align: center;
    width: max(45%, 287px);
    margin: 0 auto;
}