

.hello-background{
    background-color: white;
}

.hello {
    padding: 2.5rem;
}

.hello-image > img{
    border-radius: 75%;
}

.hello>*{
    line-height: 2;
    text-align: center;
    width: max(45%, 287px);
    margin: 0 auto;
}