.education-section{
    border-top: 3px solid #e5e5e5;
}
p.school{
    color: #4D5359;
}
.education-section > span:nth-child(1){
    font-weight: 900;
}
.education-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
