.curriculum-vitae{
    background-color: white;
    width: inherit;
}

.curriculum-vitae-container{
    width: 50%;
    margin: 0 auto;
}

.curriculum-vitae-grid{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    column-gap: 3rem;
}

.curriculum-vitae-grid>*{
    line-height: 3;
}

.curriculum-vitae-grid>div:nth-child(1){
    grid-row: 1 / -1;
}

.head > h2{
    text-align: start;
    padding-bottom: 1rem;
}

.overview{
    display: flex;
    gap: 1.5rem;
}
.overview>*{
    line-height: 1.75;
}

.contact-item {
    gap: 16px;
    display: flex;
    justify-content: space-between;
}

.contact-item > a{
    align-self: center;
}