.curriculum-vitae{
    background-color: white;
    width: inherit;
}

.curriculum-vitae-container{
    width: 50%;
    margin: 0 auto;
}

.curriculum-vitae-grid{
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: repeat(3, min-content);
    column-gap: 3rem;
}

.curriculum-vitae-grid>*{
    line-height: 3;
}

.curriculum-vitae-grid>div:nth-child(1){
    grid-row: 1 / -1;
}

.head > h2{
    text-align: start;
    padding-bottom: 1rem;
}

.overview{
    display: flex;
    gap: 1.5rem;
}
.overview>*:not(textarea){
    line-height: 3;
}

.contact-item {
    gap: 16px;
    display: flex;
    justify-content: space-between;
}

.contact-item > a{
    align-self: center;
}

@media(max-width: 1280px){
    .curriculum-vitae-container{
        width: inherit;
        padding: 0 2rem;
    }

    .overview{
        flex-wrap: wrap;
    }
    .contact{
        border-top: 3px dotted #e5e5e5;
        width: 100%;
    }

    .curriculum-vitae-grid{
        grid-template-columns: repeat(3, 1fr);
    }
    .experience{
        grid-column: 1 / -1;
    }
    .education{
        grid-column: 1 / 2;
    }
    .skills{
        grid-column: 2 / 3;
    }
    .qualifications{
        text-align: center;
        grid-column: 3 / 4;
    }

}

@media(max-width: 860px){
    .curriculum-vitae-container{
        font-size: 0.75rem;
    }
    .education{
        text-align: center;
    }
}