*{
    margin: 0;
    padding: 0;
}
.buttons{
    display: flex;
    justify-content: space-between;
    width: 20%;
    margin: 0 auto;
    column-gap: 2rem;
    margin-top: 2rem;
    align-items: center;
}
button{
    padding: 0.25rem 0.75rem;
    background-color:#00a4e7;
    border-style: solid;
    border-color: white;
    border-width: 2px;
    border-radius: 500px;
    color: white;
    margin: 0.5rem 0;
    font-size: 1.1rem;
}
button:hover{
    transition: all ease-in-out 0.2s;
    background-color: black;
    color: white;
    cursor: pointer;
}
.buttons > button{
    width: max-content;
    padding: 0.75rem 2rem;
    color: white;
    background-color: #00a4e7;
    border: 0;
    border-radius: 20%;
}
.buttons > button:hover{
    transition: all ease-in-out 0.2s;
    background-color: #78a5bd;
    color: black;
    cursor: pointer;
}

input {
    border-radius: 10px;
    padding: 10px;
    background-color: hsla(200,0%,0%,.7);
    color: white;
}

@media(max-width: 1280px){
    .buttons{
        width: 90%;
    }
}

